.categories{
    margin-left: 17.5vw;
    margin-top: 0.5vw;
    font-size: 1.2vw;
    font-weight: 600;
}
.categories-btns{
    display: flex;
    margin-top: 0.5vw;
}
.btns{
    padding: 0.2vw 1vw;
    margin-right: 0.8vw;
    background: transparent;
    border: none;
    border: 0.14vw solid #ccc;
    border-radius: 0.5vw;
    color: #323232;
    cursor: pointer;
}