.banner{
    position: relative;
    left: 7vw;
    /* background-color: black; */
    width: 85%;
}
.slider{
    width: 100%;
}
/* .slides img{
    width: 100vw;
  margin: 0;
  padding: 0 2vw;
  height:40vh;
  aspect-ratio: 16/9;
  object-fit: contain;
} */
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before{
    color: rgb(255, 0, 0);
}
