.banner{
    position: relative;
    left: 3vw;
}
.slider{
    width: 95%;
}

.slides img{
    width: 100vw;
  /* margin: 0; */
  /* padding: 0 2vw; */
  height:40vh;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.slick-slider .slick-prev::before,
.slick-slider .slick-next::before{
    color: red;
}
