.price-title {
    margin-top: 20px;
  }
  
  .ml {
    margin-left: 20px;
  }
  /* .sidebar-label-price{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5vw;
}
.sidebar-label-price label{
    font-size: 0.85vw;
} */