.navbar-section{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    /* background-color: #E5C643; */
    padding: 0.5vw 0px ;
    border-radius: 0.8vw;
    height: 8vw;
    
    
}
.nav-list{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: black;
}
/* .nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;

} */
.nav-list img{
    width: 5.5vw;
  aspect-ratio: 3/2;
  object-fit: contain;
  
}
/* .nav-list:hover{
    transform: scale(1.1);
} */