*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    display: flex;
    /* border: 1px solid; */
    width: 60%;
    border-radius: 5%;
    box-shadow: 2px 2px 60px 5px rgba(0, 0, 0, 0.605);
    position: absolute;
    top: 140px;
    left: 20%;
}
#simg{
    border-radius: 5%;
    object-fit: contain;
    aspect-ratio: 3/4;
}
#heading{
    margin-left: 60px;
}
.main{
    margin-left: 60px;
    border-radius: 20px;
   
}
#btn1{
    border-radius:20px;
   padding: 10px 90px;
}