.SignUp{
    display: flex;
    justify-content: center;
    position: relative;
    top: 1.5vw;
}
.signup-page{
    width: fit-content;
    display: flex;
    border: 1px solid black;
    border-radius: 2vw 2vw 2vw 2vw;

}
.signup-right{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEC88F;
    border-radius: 2vw 0 0 2vw;
}
.signup-right img{
    width: 42vw;
    height: min-content;
    aspect-ratio: 3/2;
    object-fit: cover;
    
}
.signup-left{
    display: flex;
    flex-direction: column;
    background-color: #E4FDE0;
    padding: 4vw;
    border-radius: 0 2vw 2vw 0;
}
.signup-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.signup-content input{
    height: 2.4vw;
    border: 1px solid #8ACB88;
    border-radius: 0.4vw;
    padding: 0 0 0 0.9vw ;
}
.signup-content label{
    margin: 0.2vw 0;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    margin-top: 1vw;
    
}
.signup-left svg{
    font-size: 1.5vw;
}
#signup-role{
    border: 1px solid #8ACB88;
    height: 2.4vw;
    border-radius: 0.4vw;
    padding: 0 0 0 0.9vw ;
    cursor: pointer;
}
.eye-button{
    position: relative;
    left: 17.7vw;
    top: -2.1vw;
}
.signup-submit-button input{
    width:100%;
    background-color: #FFBF46;
    color: black;
}
/* .signup-left{

    background-color: #E4FDE0;
    padding: 4vw;
}
.signup-content{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.signup-content input{
    height: 2vw;
    background-color: white;
    border: 1px solid #8ACB88;
    border-radius: 0.3vw;
    padding: 0 0 0 0.9vw;
}
.signup-content label{

} */